<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1">

    <title>

        {% block title %}
            AptlyPilot
        {% endblock %}

    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', path='css/style.css') }}">

    <script
        src="https://cdn.tailwindcss.com"></script>

    <script
        src="https://unpkg.com/htmx.org@2.0.0"></script>

    <script
        defer
        src="https://unpkg.com/alpinejs"></script>

    {% block head %}

    {% endblock %}

</head>

<body class="bg-slate-100 text-slate-900">

{% block body %}

{% endblock %}

<script src="{{ url_for('static', path='js/app.js') }}"></script>

{% block scripts %}

{% endblock %}

</body>

</html>